* {
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #3a945d;
    background-image: -webkit-radial-gradient(center, circle cover, #7c7b92 0%, #252233 100%);
    background-image: -moz-radial-gradient(center, circle cover, #7c7b92 0%, #252233 100%);
    background-image: -o-radial-gradient(center, circle cover, #7c7b92 0%, #252233 100%);
    background-image: radial-gradient(center, circle cover, #7c7b92 0%, #252233 100%);
}

#root {
    margin: 0;    
    padding: 0;

}

#canvas {
}

.controller {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
    padding: 25px;
    width: 100px;
    height: 100px;
    border: 1px solid red;
}